<!DOCTYPE html>
<html lang="pt-BR" ng-app="bubbleApp">
    <head>
        <base href="/app/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Bubble Talk - Seja muito bem vindo!</title>

        <!--[if IE]><link rel="shortcut icon" href="../img/favicon.ico"><![endif]-->
        <link rel="icon" href="../img/favicon.png">

        <!-- Bootstrap Core CSS -->
        <link href="../libs/bootstrap/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="./css/style-admin.css" rel="stylesheet">

        <!-- Animate CSS -->
        <link href="../libs/animate.css/animate.min.css" rel="stylesheet">

        <!-- Notificações UI Angular -->
        <link rel="stylesheet" href="../libs/angular-ui-notification/angular-ui-notification.min.css">

        <!-- Scrol Personalizado com AngularJS -->
        <link rel="stylesheet" href="../libs/angular-scrollbar/ng-scrollbar.min.css">

        <!-- Icones Material - Google -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-controller="mainCtrl">
        <div id="wrapper" ng-class="{'opened':menuLeft}">
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-class="{'open':menuLeft}">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" ng-show="menuLeft">
                        <span class="sr-only">Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="javascript:void(0)" ng-click="goInternalPages('app')">
                        <div id="logotipo">
                            <i class="material-icons">&#xE6DD;</i>
                        </div>
                        <div class="logo-txt">
                            <div>Bubble Talk</div>
                        </div>
                    </a>
                </div>
                <!-- Top Menu Items -->
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">&#xE85A;</i>
                        </a>
                        <ul class="dropdown-menu message-dropdown">
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>John Smith</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>John Smith</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-preview">
                                <a href="#">
                                    <div class="media">
                                        <span class="pull-left">
                                            <img class="media-object" src="" alt="">
                                        </span>
                                        <div class="media-body">
                                            <h5 class="media-heading"><strong>John Smith</strong>
                                            </h5>
                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="message-footer">
                                <a href="#">Read All New Messages</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">&#xE7F4;</i>
                        </a>
                        <ul class="dropdown-menu alert-dropdown">
                            <li>
                                <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                            </li>
                            <li>
                                <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">View All</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle perfil-toggle" data-toggle="dropdown">
                            <span>{{firstName()}}</span>
                            <div id="foto-perfil" ng-class="{'no-img-perfil': !user.foto}" ng-style="{'background-image': 'url()'}"></div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:void(0)" ng-click="go('sua-conta')"><i class="fa fa-fw fa-user"></i> Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:void(0)" ng-click="go('/api/logout')"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav side-nav text-center" ng-class="{'openMenuLeft':menuLeft}">
                        <li id="app_dropdown" class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                <div id="foto-perfil" ng-class="{'no-img-perfil': !user.foto}" ng-style="{'background-image': 'url()'}"></div>
                                <span>{{bubble.dados.appname}}</span>
                                <i class="material-icons pull-right">&#xE313;</i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                        <li ng-class="isActive(app_id)">
                            <a href="javascript:void(0)" ng-click="goInternalPages(app_id)">
                                <!-- <p><i class="material-icons">&#xE88A;</i></p> -->
                                <span>Painel</span>
                            </a>
                        </li>
                        <li ng-class="isActive('bubble')">
                            <a href="javascript:void(0)" ng-click="goInternalPages('bubble')">
                                <!-- <p><i class="material-icons">&#xE0B7;</i></p> -->
                                <span>Conversas</span>
                            </a>
                        </li>
                        <li ng-class="isActive('aparencia')">
                            <a href="javascript:void(0)">
                                <!-- <p><i class="material-icons">&#xE243;</i></p> -->
                                <span>Aparência</span>
                            </a>
                        </li>
                        <li ng-class="isActive('equipe')">
                            <a href="javascript:void(0)" ng-click="goInternalPages('equipe')">
                                <!-- <p><i class="material-icons">&#xE7FB;</i></p> -->
                                <span>Equipe</span>
                            </a>
                        </li>
                        <li ng-class="isActive('configuracoes')">
                            <a href="javascript:void(0)">
                                <!-- <p><i class="material-icons">&#xE8B8;</i></p> -->
                                <span>Configurações</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="page-wrapper">
                <div class="container-fluid container-content" ng-view></div>
            </div>
        </div>
        <div class="modal fade" id="load-modal" tabindex="-1" role="dialog" aria-labelledby="load-modal">
            <div class="load-icon-modal">
                <img src="../img/ring-alt.svg" alt="Carregando...">
            </div>
        </div>
    </body>
    <!-- jQuery -->
    <script src="../libs/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../libs/bootstrap/bootstrap.min.js"></script>

    <!-- Socket.io -->
    <script src="../libs/socket.io/socket.io-1.4.5.js"></script>

    <script src="../libs/angular/angular.min.js"></script>
    <script src="../libs/angular-route/angular-route.min.js"></script>
    <script src="../libs/angular-animate/angular-animate.min.js"></script>

    <!-- Notificações UI Angular -->
    <script src="../libs/angular-ui-notification/angular-ui-notification.min.js"></script>

    <!-- Scrol Personalizado com AngularJS -->
    <script src="../libs/angular-scrollbar/ng-scrollbar.min.js"></script>

    <script src="js/app.js"></script>

    <script src="js/configs/routeConfig.js"></script>
    <script src="js/configs/notificationConfig.js"></script>

    <script src="js/services/servicesAPI.js"></script>

    <script src="js/filters/spaceless.js"></script>

    <script src="js/controllers/listagemChatsCtrl.js"></script>
    <script src="js/controllers/mainCtrl.js"></script>
    <script src="js/controllers/dashboardCtrl.js"></script>
    <script src="js/controllers/newBubbleCtrl.js"></script>
    <script src="js/controllers/bubbleCtrl.js"></script>
    <script src="js/controllers/equipeCtrl.js"></script>
    <script src="js/controllers/suaContaCtrl.js"></script>

    <script src="js/directives/enterSubmit.js"></script>
</html>