<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					<div class="panel-body">
						<a href="javascript:void(0)" ng-click="go('new-bubble')" class="btn btn-primary pull-right btn-with-icon">
							<i class="material-icons">&#xE145;</i>
							<span>Adicionar um novo chat</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6" ng-repeat="chat in allChats">
				<div class="cada-chat panel" data-icon="&#xE315;" ng-click="openChat(chat)">
					<div class="bubble" ng-class="{'no-chat-perfil': !chat.foto}" random-backgroundcolor>
						<div ng-if="!chat.foto">{{chat.dados.appname.charAt(0)}}</div>
					</div>
					<div class="desc-bubble">
						<div class="nome">
							<span>{{chat.dados.appname | spaceless}}</span>
							<div class="status-app"></div>
						</div>
						<div class="infos">
							ID do Chat: <strong>{{chat._id}}</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>