<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Bubble Talk</title>

	<!--[if IE]><link rel="shortcut icon" href="../img/favicon.ico"><![endif]-->
	<link rel="icon" href="../img/favicon.png">

	<link rel="stylesheet" href="">
</head>
<body>
	<a href="/login">Login</a><a href="/experimente-gratis">Cadastre-se</a>
</body>
</html>