<!DOCTYPE html>
<html lang="pt-BR" ng-app="siteApp">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Login - Bubble Talk</title>
        
        <!--[if IE]><link rel="shortcut icon" href="../img/favicon.ico"><![endif]-->
		<link rel="icon" href="../img/favicon.png">

		<!-- Bootstrap Core CSS -->
        <link href="../libs/bootstrap/bootstrap.min.css" rel="stylesheet">

        <!-- Animate CSS -->
        <link href="../libs/animate.css/animate.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="site/css/style-site.css" rel="stylesheet">

        <!-- Icones Material - Google -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- jQuery -->
        <script src="../libs/jquery/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="../libs/bootstrap/bootstrap.min.js"></script>
        <!-- AngularJS -->
        <script src="../libs/angular/angular.min.js"></script>
        <script src="../libs/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="site/js/app.js"></script>
        <script src="site/js/controllers/loginCtrl.js"></script>
	</head>
	<body ng-controller="loginCtrl" ng-init="loadMsgLogin('<%= message_login %>')">
		<section class="login-section">
			<div class="vertical-center">
			<div class="container login">
				<div class="col-md-4 col-md-offset-4">
					<div id="logotipo" class="bg-animate-color"><i class="material-icons">bubble_chart</i></div>
					<div class="form-group">
						<h2 class="text-center">Entre, fique a vontade!</h2>
					</div>
					<div class="alert alert-danger" ng-show="message_login">
						<a href="#" target="_self" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<span ng-bind-html="message_login"></span>
					</div>
					<form action="/api/login" method="post" name="loginForm" ng-submit="message_login=undefined">
						<div class="form-group">
							<i class="material-icons">person</i>
							<input type="email" class="form-control" placeholder="Seu email" name="email" ng-model="dados.email" required>
						</div>
						<div class="form-group">
							<i class="material-icons">vpn_key</i>
							<input type="password" class="form-control" placeholder="Sua senha" name="senha" ng-model="dados.senha" required>
						</div>
						<div class="form-group esqueci">
							<a href="/experimente-gratis">Vish! Esqueci minha senha</a>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-default form-control" ng-disabled="loginForm.$invalid" ng-click="sended=true">
								<img src="../img/ring-alt-xs.svg" ng-show="sended" alt="Carregando..." class="loading-login">
								<span>Entrar</span>
							</button>
						</div>
						<div class="separator"><div>ou</div></div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-6">
								<div class="form-group">
									<button class="btn btn-primary form-control">Facebook</button>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-6">
								<div class="form-group">
									<button class="btn btn-danger form-control">Google</button>
								</div>
							</div>
						</div>
					</form>
					<br>
					<div class="form-group text-center">
						<a href="/experimente-gratis">Novo por aqui? Cadastre-se agora mesmo</a>
					</div>
				</div>
			</div>
		</div>
		</section>
	</body>
</html>