<!DOCTYPE html>
<html lang="pt-BR" ng-app="siteApp">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Tchauzinho, volte sempre! - Bubble Talk</title>
        
        <!--[if IE]><link rel="shortcut icon" href="../img/favicon.ico"><![endif]-->
		<link rel="icon" href="../img/favicon.png">

		<!-- Bootstrap Core CSS -->
        <link href="../libs/bootstrap/bootstrap.min.css" rel="stylesheet">

        <!-- Animate CSS -->
        <link href="../libs/animate.css/animate.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../site/css/style-site.css" rel="stylesheet">
        
        <!-- Icones Material - Google -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
	<body>
		<section class="volte-sempre vertical-center">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<h1>Tchauzinho, volte sempre!</h1>
							<p>Sempre que precisar se comunicar da melhor forma com os usuarios de seu site.</p>
						</div>
						<ul class="list-inline">
							<li>
								<a href="/experimente-gratis">Experimente Grátis</a>
							</li>
							<li>
								<a href="/">Saiba Mais</a>
							</li>
							<li>
								<a href="/login">Login</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</body>
	
	<!-- jQuery -->
    <script src="../libs/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../libs/bootstrap/bootstrap.min.js"></script>
</html>