<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Página não encontrada - Bubble Talk</title>

		<!--[if IE]><link rel="shortcut icon" href="../img/favicon.ico"><![endif]-->
		<link rel="icon" href="../img/favicon.png">

		<link rel="stylesheet" href="">
	</head>
	<body>
		<h1>404</h1>
		<h3>Página não encontrada</h3>
		<p><strong>Hey amigo!</strong> Está perdido por aqui?</p>
		<p><a href="/">Clique aqui</a> e conheça nosso site.</p>
	</body>
</html>