<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Erro interno - Bubble Talk</title>

		<!--[if IE]><link rel="shortcut icon" href="../img/favicon.ico"><![endif]-->
		<link rel="icon" href="../img/favicon.png">

		<link rel="stylesheet" href="">
	</head>
	<body>
		<h1>500</h1>
		<h3>Erro interno</h3>
		<p>Já fomos avisados, tente atualizar e continuar usando o Bubble Talk normalmente.</p>
		<p>Caso está página torne a voltar, entre em contato com nossa equipe de suporte.</p>
	</body>
</html>